*{
    margin: 0%;
    padding: 0%;
}
a{
    color: black;
    text-decoration: none;
}
.nav-bar{
    color: white;
    background-color: #1160AA;
    height: 55px;
    text-align: center;
    padding-top: 2%;
}
.login-container{
    margin: auto;
    width: 38%;
    height: 280px;
    border: 3px solid #9BB4DA;
    background-color: #9BB4DA;
    padding: 15px;
    margin-top: 1%;
    border-radius: 8px;
} 
.login{
    text-align: center;
    margin-bottom: 1%;
    border: 2px solid #9BB4DA;
    background-color: #9BB4DA;
}
#login-btn:hover{
    color: white;
    background-color: #1160AA;
}
.forms-sml{
    margin-Top: 1%;
}
#login-btn {
    background-color: white;
    border: none;
    border-radius: 8px;
    color: black;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.reg-container{
    margin: auto;
    width: 38%;
    height: 380px;
    border: 3px solid #9BB4DA;
    background-color: #9BB4DA;
    padding: 15px;
    margin-top: 1%;
    border-radius: 8px;
}
.register{
    text-align: center;
    margin-bottom: 1%;
    border: 2px solid #9BB4DA;
    background-color: #9BB4DA;
}
.forms-btnreg{
    margin-Top: 1%;
}
#register-btn {
    background-color: white;
    border: none;
    border-radius: 8px;
    color: black;
    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
#register-btn:hover{
    color: white;
    background-color: #1160AA;
}
#todo-js{
    margin: auto;
    width: 38%;
    border: 3px solid #9BB4DA;
    background-color: #9BB4DA;
    padding: 15px;
    margin-top: 1%;
    border-radius: 8px;
}
.btn{
    border: 3px solid #9BB4DA;
    background-color: #9BB4DA;
    border-radius: 6px;
    color: black;
    padding: 3px;
    margin-top: 1%;
    margin-left: 1.2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.update-btn{
    border: 1px solid black;
    background-color: white;
    border-radius: 6px;
    color: black;
    padding: 5px;
    margin-top: 1%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.update-btn:hover{
    color: white;
    background-color: #1160AA;
    border: #1160AA;
}
.cnl-btn{
    border: 1px solid black;
    background-color: white;
    border-radius: 6px;
    color: black;
    padding: 5px;
    margin-top: 1%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.cnl-btn:hover{
    color: white;
    background-color: #1160AA;
    border: #1160AA;
}
.up-btn:hover{
    color: green;
    border: #1160AA;
}
.dlt-btn:hover{
    color: red;
    border: #1160AA;
}
.up-btn{
    color: #1160AA;
    display: inline-block;
    font-size: 23px;
    cursor: pointer;
}
.dlt-btn{
    color: #1160AA;
    display: inline-block;
    font-size: 23px;
    cursor: pointer;
}
.create-container{
    margin: auto;
    width: 38%;
    height: 450px;
    border: 3px solid #9BB4DA;
    background-color: #9BB4DA;
    padding: 15px;
    margin-top: 1%;
    border-radius: 8px;
}
.btn-cls{
    border: 1px solid black;
    background-color: white;
    border-radius: 6px;
    color: black;
    padding: 5px;
    margin-top: 1%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.btn-cls:hover{
    color: white;
    background-color: #1160AA;
    border: #1160AA;
}
.goback{
    border: 1px solid #9BB4DA;
    background-color: #9BB4DA;
    border-radius: 6px;
    color: black;
    padding: 5px;
    margin-top: 1%;
    margin-left: 2%;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}
.update-container{
    margin: auto;
    width: 38%;
    height: 377px;
    border: 3px solid #9BB4DA;
    background-color: #9BB4DA;
    padding: 15px;
    margin-top: 1%;
    border-radius: 8px;
}
.profile{
    margin: auto;
    width: 28%;
    height: 60px;
    border: 3px solid #9BB4DA;
    background-color: #9BB4DA;
    padding:  15px 15px 15px 15px;
    margin-top: 1%;
    border-radius: 8px;
}
.updt-cls{
    width: 480px;
    height: 87px;
    Border-radius: 8px;
    Border: 1px solid black;
    font-size:17px;
}
input, textarea, select:focus{
    outline: none;
}
/* --------------------------------------------------------------------------------- */
.task-cls{
    width: 480px;
    height: 40px;
    Border-radius: 8px;
    Border: 1px solid black;
    font-size:17px;
}
@media only screen and (min-width: 50px){
    .task-cls{
        width: 27px;
        height: 40px;
        Border-radius: 8px;
        Border: 1px solid black;
        font-size:17px;
    }
}
@media only screen and (min-width: 100px){
    .task-cls{
        width: 50px;
        height: 40px;
        Border-radius: 8px;
        Border: 1px solid black;
        font-size:17px;
    }
}
@media only screen and (min-width: 150px){
    .task-cls{
        width: 58px;
        height: 40px;
        Border-radius: 8px;
        Border: 1px solid black;
        font-size:17px;
    }
}
@media only screen and (min-width: 200px){
    .task-cls{
        width: 75px;
        height: 40px;
        Border-radius: 8px;
        Border: 1px solid black;
        font-size:17px;
    }
}
@media only screen and (min-width: 250px){
    .task-cls{
        width: 95px;
        height: 40px;
        Border-radius: 8px;
        Border: 1px solid black;
        font-size:17px;
    }
}
@media only screen and (min-width: 300px){
    .task-cls{
        width: 110px;
        height: 40px;
        Border-radius: 8px;
        Border: 1px solid black;
        font-size:17px;
    }
}
@media only screen and (min-width: 350px){
    .task-cls{
        width: 125px;
        height: 40px;
        Border-radius: 8px;
        Border: 1px solid black;
        font-size:17px;
    }
}
@media only screen and (min-width: 400px){
    .task-cls{
        width: 140px;
        height: 40px;
        Border-radius: 8px;
        Border: 1px solid black;
        font-size:17px;
    }
}
@media only screen and (min-width: 450px){
    .task-cls{
        width: 170px;
        height: 40px;
        Border-radius: 8px;
        Border: 1px solid black;
        font-size:17px;
    }
}
@media only screen and (min-width: 500px){
    .task-cls{
        width: 191px;
        height: 40px;
        Border-radius: 8px;
        Border: 1px solid black;
        font-size:17px;
    }
}
@media only screen and (min-width: 550px){
    .task-cls{
        width: 210px;
        height: 40px;
        Border-radius: 8px;
        Border: 1px solid black;
        font-size:17px;
    }
}
@media only screen and (min-width: 600px){
    .task-cls{
        width: 230px;
        height: 40px;
        Border-radius: 8px;
        Border: 1px solid black;
        font-size:17px;
    }
}
@media only screen and (min-width: 650px){
    .task-cls{
        width: 250px;
        height: 40px;
        Border-radius: 8px;
        Border: 1px solid black;
        font-size:17px;
    }
}
@media only screen and (min-width: 700px){
    .task-cls{
        width: 265px;
        height: 40px;
        Border-radius: 8px;
        Border: 1px solid black;
        font-size:17px;
    }
}
@media only screen and (min-width: 750px){
    .task-cls{
        width: 280px;
        height: 40px;
        Border-radius: 8px;
        Border: 1px solid black;
        font-size:17px;
    }
}
@media only screen and (min-width: 800px){
    .task-cls{
        width: 300px;
        height: 40px;
        Border-radius: 8px;
        Border: 1px solid black;
        font-size:17px;
    }
}
@media only screen and (min-width: 850px){
    .task-cls{
        width: 330px;
        height: 40px;
        Border-radius: 8px;
        Border: 1px solid black;
        font-size:17px;
    }
}
@media only screen and (min-width: 1200px){
    .task-cls{
        width: 520px;
        height: 40px;
        Border-radius: 8px;
        Border: 1px solid black;
        font-size:17px;
    }
}
@media only screen and (min-width: 1250px){
    .task-cls{
        width: 520px;
        height: 40px;
        Border-radius: 8px;
        Border: 1px solid black;
        font-size:17px;
    }
}
@media only screen and (min-width: 1300px){
    .task-cls{
        width: 520px;
        height: 40px;
        Border-radius: 8px;
        Border: 1px solid black;
        font-size:17px;
    }
}
/* --------------------------------------------------------------------------------- */
.desc-cls{
    width: 480px;
    height: 87px;
    Border-radius: 8px;
    Border: 1px solid black;
    font-size:17px;
}
@media only screen and (min-width: 50px){
    .desc-cls{
        width: 27px;
        height: 87px;
        Border-radius: 8px;
        Border: 1px solid black;
        font-size:17px;
    }
}
@media only screen and (min-width: 100px){
    .desc-cls{
        width: 50px;
        height: 87px;
        Border-radius: 8px;
        Border: 1px solid black;
        font-size:17px;
    }
}
@media only screen and (min-width: 150px){
    .desc-cls{
        width: 58px;
        height: 87px;
        Border-radius: 8px;
        Border: 1px solid black;
        font-size:17px;
    }
}
@media only screen and (min-width: 200px){
    .desc-cls{
        width: 75px;
        height: 87px;
        Border-radius: 8px;
        Border: 1px solid black;
        font-size:17px;
    }
}
@media only screen and (min-width: 250px){
    .desc-cls{
        width: 95px;
        height: 87px;
        Border-radius: 8px;
        Border: 1px solid black;
        font-size:17px;
    }
}
@media only screen and (min-width: 300px){
    .desc-cls{
        width: 110px;
        height: 87px;
        Border-radius: 8px;
        Border: 1px solid black;
        font-size:17px;
    }
}
@media only screen and (min-width: 350px){
    .desc-cls{
        width: 125px;
        height: 87px;
        Border-radius: 8px;
        Border: 1px solid black;
        font-size:17px;
    }
}
@media only screen and (min-width: 870px){
    .desc-cls{
        width: 187px;
        height: 87px;
        Border-radius: 8px;
        Border: 1px solid black;
        font-size:17px;
    }
}
@media only screen and (min-width: 450px){
    .desc-cls{
        width: 170px;
        height: 87px;
        Border-radius: 8px;
        Border: 1px solid black;
        font-size:17px;
    }
}
@media only screen and (min-width: 500px){
    .desc-cls{
        width: 191px;
        height: 87px;
        Border-radius: 8px;
        Border: 1px solid black;
        font-size:17px;
    }
}
@media only screen and (min-width: 550px){
    .desc-cls{
        width: 210px;
        height: 87px;
        Border-radius: 8px;
        Border: 1px solid black;
        font-size:17px;
    }
}
@media only screen and (min-width: 600px){
    .desc-cls{
        width: 230px;
        height: 87px;
        Border-radius: 8px;
        Border: 1px solid black;
        font-size:17px;
    }
}
@media only screen and (min-width: 650px){
    .desc-cls{
        width: 250px;
        height: 87px;
        Border-radius: 8px;
        Border: 1px solid black;
        font-size:17px;
    }
}
@media only screen and (min-width: 700px){
    .desc-cls{
        width: 265px;
        height: 87px;
        Border-radius: 8px;
        Border: 1px solid black;
        font-size:17px;
    }
}
@media only screen and (min-width: 750px){
    .desc-cls{
        width: 280px;
        height: 87px;
        Border-radius: 8px;
        Border: 1px solid black;
        font-size:17px;
    }
}
@media only screen and (min-width: 800px){
    .desc-cls{
        width: 300px;
        height: 87px;
        Border-radius: 8px;
        Border: 1px solid black;
        font-size:17px;
    }
}
@media only screen and (min-width: 850px){
    .desc-cls{
        width: 330px;
        height: 87px;
        Border-radius: 8px;
        Border: 1px solid black;
        font-size:17px;
    }
}
@media only screen and (min-width: 1200px){
    .desc-cls{
        width: 520px;
        height: 87px;
        Border-radius: 8px;
        Border: 1px solid black;
        font-size:17px;
    }
}
/* --------------------------------------------------------------------------------- */
.task-prty{
    width: 90px;
    height: 25px;
    Border-radius: 8px;
    Border: 1px solid black;
    font-size:17px;
}
@media only screen and (min-width: 50px){
    .task-prty{
        width: 27px;
        height: 25px;
        Border-radius: 8px;
        Border: 1px solid black;
        font-size:17px;
    }
}
@media only screen and (min-width: 100px){
    .task-prty{
        width: 50px;
        height: 25px;
        Border-radius: 8px;
        Border: 1px solid black;
        font-size:17px;
    }
}
@media only screen and (min-width: 150px){
    .task-prty{
        width: 58px;
        height: 25px;
        Border-radius: 8px;
        Border: 1px solid black;
        font-size:17px;
    }
}
@media only screen and (min-width: 200px){
    .task-prty{
        width: 75px;
        height: 25px;
        Border-radius: 8px;
        Border: 1px solid black;
        font-size:17px;
    }
}
@media only screen and (min-width: 250px){
    .task-prty{
        width: 95px;
        height: 25px;
        Border-radius: 8px;
        Border: 1px solid black;
        font-size:17px;
    }
}
@media only screen and (min-width: 300px){
    .task-prty{
        width: 110px;
        height: 25px;
        Border-radius: 8px;
        Border: 1px solid black;
        font-size:17px;
    }
}
@media only screen and (min-width: 350px){
    .task-prty{
        width: 125px;
        height: 25px;
        Border-radius: 8px;
        Border: 1px solid black;
        font-size:17px;
    }
}
@media only screen and (min-width: 400px){
    .task-prty{
        width: 145px;
        height: 25px;
        Border-radius: 8px;
        Border: 1px solid black;
        font-size:17px;
    }
}
@media only screen and (min-width: 1200px){
    .task-prty{
        width: 100px;
        height: 25px;
        Border-radius: 8px;
        Border: 1px solid black;
        font-size:17px;
    }
}
/* --------------------------------------------------------------------------------- */
.task-sts{
    width: 143px;
    height: 25px;
    Border-radius: 8px;
    Border: 1px solid black;
    font-size:17px;
}
@media only screen and (min-width: 50px){
    .task-sts{
        width: 27px;
        height: 25px;
        Border-radius: 8px;
        Border: 1px solid black;
        font-size:17px;
    }
}
@media only screen and (min-width: 100px){
    .task-sts{
        width: 50px;
        height: 25px;
        Border-radius: 8px;
        Border: 1px solid black;
        font-size:17px;
    }
}
@media only screen and (min-width: 150px){
    .task-sts{
        width: 58px;
        height: 25px;
        Border-radius: 8px;
        Border: 1px solid black;
        font-size:17px;
    }
}
@media only screen and (min-width: 200px){
    .task-sts{
        width: 75px;
        height: 25px;
        Border-radius: 8px;
        Border: 1px solid black;
        font-size:17px;
    }
}
@media only screen and (min-width: 250px){
    .task-sts{
        width: 95px;
        height: 25px;
        Border-radius: 8px;
        Border: 1px solid black;
        font-size:17px;
    }
}
@media only screen and (min-width: 300px){
    .task-sts{
        width: 110px;
        height: 25px;
        Border-radius: 8px;
        Border: 1px solid black;
        font-size:17px;
    }
}
@media only screen and (min-width: 350px){
    .task-sts{
        width: 125px;
        height: 25px;
        Border-radius: 8px;
        Border: 1px solid black;
        font-size:17px;
    }
}
@media only screen and (min-width: 400px){
    .task-sts{
        width: 145px;
        height: 25px;
        Border-radius: 8px;
        Border: 1px solid black;
        font-size:17px;
    }
}
@media only screen and (min-width: 1200px){
    .task-sts{
        width: 140px;
        height: 25px;
        Border-radius: 8px;
        Border: 1px solid black;
        font-size:17px;
    }
}
/* --------------------------------------------------------------------------------- */
.cmplt-date{
    width: 130px;
    height: 25px;
    Border-radius: 8px;
    Border: 1px solid black;
    font-size:17px;
}
@media only screen and (min-width: 50px){
    .cmplt-date{
        width: 27px;
        height: 25px;
        Border-radius: 8px;
        Border: 1px solid black;
        font-size:17px;
    }
}
@media only screen and (min-width: 100px){
    .cmplt-date{
        width: 50px;
        height: 25px;
        Border-radius: 8px;
        Border: 1px solid black;
        font-size:17px;
    }
}
@media only screen and (min-width: 150px){
    .cmplt-date{
        width: 58px;
        height: 25px;
        Border-radius: 8px;
        Border: 1px solid black;
        font-size:17px;
    }
}
@media only screen and (min-width: 200px){
    .cmplt-date{
        width: 75px;
        height: 25px;
        Border-radius: 8px;
        Border: 1px solid black;
        font-size:17px;
    }
}
@media only screen and (min-width: 250px){
    .cmplt-date{
        width: 95px;
        height: 25px;
        Border-radius: 8px;
        Border: 1px solid black;
        font-size:17px;
    }
}
@media only screen and (min-width: 300px){
    .cmplt-date{
        width: 110px;
        height: 25px;
        Border-radius: 8px;
        Border: 1px solid black;
        font-size:17px;
    }
}
@media only screen and (min-width: 350px){
    .cmplt-date{
        width: 125px;
        height: 25px;
        Border-radius: 8px;
        Border: 1px solid black;
        font-size:17px;
    }
}
@media only screen and (min-width: 400px){
    .cmplt-date{
        width: 145px;
        height: 25px;
        Border-radius: 8px;
        Border: 1px solid black;
        font-size:17px;
    }
}
@media only screen and (min-width: 1200px){
    .cmplt-date{
        width: 130px;
        height: 25px;
        Border-radius: 8px;
        Border: 1px solid black;
        font-size:17px;
    }
}
/* --------------------------------------------------------------------------------- */