*{
    margin: 0%;
    padding: 0%;
}
a:hover{
    color: black;
}
a:link{
    text-decoration: none;
}
.forms-login{
    margin: 1% 35% 0% 35%;
    padding: 20px;
    border: 2px solid #4d94ff;
    border-radius: 8px;
    background-color: #4d94ff;
    height: 260px;
    color: white;
}
.forms-logout{
    margin: 1% 35% 0% 35%;
    padding-left: 80px;
    border: 2px solid #4d94ff;
    border-radius: 8px;
    background-color: #4d94ff;
    height: 100px;
    color: white;
}
.forms-register{
    margin: 1% 35% 0% 35%;
    padding: 20px;
    border: 2px solid #4d94ff;
    border-radius: 8px;
    background-color: #4d94ff;
    height: 310px;
    color: white;
}
.feild{
    padding: 15px;
    border: 2px solid white;
    border-radius: 8px;
}
.forms-btn{
    margin: 2% 0% 0% 1%;
}
.forms-btnreg{
    margin: 1.4% 0% 0% 1%;
}
.forms-sml{
    margin: 0.5% 0% 0% 1%;
}
.btn-upt{
    border: 1px sloid green;
    background-color: green;
    border-radius: 6px;
}
.btn-dlt{
    border: 1px sloid red;
    background-color: red;
    border-radius: 6px;
}
.logout-cls{
    padding-left: 90%;
    color: white;
}
.logout-cls :hover{
    color: black;
} 
.nav-bar{
    height: 90px;
    color: white;
    border: 2px solid #068FFF;
    background-color: #068FFF; 
}
.tag-del{
    border: 2px solid #4d94ff;
    border-radius: 8px;
    background-color: #4d94ff;
    height: 40px;
}
.h2-tag{
    color: white;
}
.h1-tag{
    padding-left: 45% ;
    padding-top: 1.8%;
}
#todo-js{
    border: 2px solid #FFAFAF;
    border-radius: 8px;
    margin-top: 1%;
    padding: 20px;
    color: black;
    background-color: #FFAFAF;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
#form-data{
    border: 2px solid #FFAFAF;
    border-radius: 8px;
    background-color: #FFAFAF;
    color: black ;
    margin-top: 1%;
    padding: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
}
#update-form-data{
    border: 2px solid #FFAFAF;
    border-radius: 8px;
    background-color: #FFAFAF;
    color: black ;
    padding: 20px;
    display: block;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
    width: 34%;
}
.fs-add-todo{
    border-radius: 8px;
    padding: 20px;
    text-align: left;
}
.fs-login{
    padding: 15px;
    border: 2px solid white;
    border-radius: 8px;
    
}
.btn-cls{
    margin: 2% 0% 0% 1%;
    color: black;
}
#form-del{
    border: 2px solid black;
    border-radius: 8px;
    margin: 1% 22% 0% 22%;
    padding: 20px;
}
.h2-login{
    color: black;
}