{% extends 'todouser1/base.html' %}
{% block content %}
    <div class="form-create">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="feild">
                <legend>Add New Todo</legend>
                {{ form.as_p }}
            </fieldset>
            <div class="btn-crt">
                <button type="submit">Post</button>
                <button class="log-tag"><a href="{% url 'todo-detail' object.id %}" class="log-tag">Cancel</a></button>
            </div>
        </form>
    </div>
{% endblock  %}