{% extends 'todouser/base.html' %}
{% block content %}
    <div class="forms-login">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="feild">
                <legend>Login</legend>
                {{ form.as_p }}
            </fieldset>
            <div class="forms-btn">
                <button type="submit">Login</button>
            </div>
        </form>
        <div class="forms-sml">
            <small>Need An Account?  <a class="log-tag" href="{% url 'register' %}">Register</a></small>
        </div>
    </div>
{% endblock  %}