{% extends 'todouser/base.html' %}
{% load static %}
{% block content %}

<div>
    <div>
        <a href="{% url 'todo-list' %}">Home</a>
    </div>

    <div>
        <form id="form-create" method="POST">
            {% csrf_token %}
            <label>Task Name</label><br>
            <input id="task-name" type="text" required><br><br>

            <label>Description</label><br>
            <textarea id="task-desc" type="text" cols="40" rows="10"></textarea><br><br>

            <label for="task-status">Status</label><br>
            <select id="task-status">
                <option value="select">select</option>
                <option value="In-progress">In-progress</option>
                <option value="Completed">Completed</option>
                <option value="Not-completed">Not-completed</option>
            </select><br><br>

            <label for="task-priority">Priority</label><br>
            <select id="task-priority">
                <option value="select">select</option>
                <option value="Low">Low</option>
                <option value="Medium">Medium</option>
                <option value="High">High</option>
            </select><br><br>

            <label>Date of completion</label><br>
            <input required id="task-cmplt-date" type="date"><br><br>

            <!-- <label>Remaining Days</label><br>
                <input required id="task-remain-days" type="text"><br><br> 
            <label>User id</label><br>
            <input id="task-user-id" type="number"><br><br> -->

            <button class="btn-cls" id="add-task-btn" type="submit">Create</button>
        </form>
    </div>
</div>

<script>
    // Get CSRF token from cookies
    function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
    }

    // Add a new todo
    function addTodo() {
        const taskName = document.getElementById('task-name');
        const description = document.getElementById('task-desc');
        const task_status = document.getElementById('task-status');
        const task_priority = document.getElementById('task-priority');
        const completion_dat = document.getElementById('task-cmplt-date');
        // const remian_dt = document.getElementById('task-remain-days');
        // const userId = document.getElementById('task-user-id');

        // Check if the status is "select" and throw an error
        if (task_status.value === "select") {
            alert('Please select the status of the task');
            return; // Stop further execution
        }

        // Check if the priority is "select" and throw an error
        if (task_priority.value === "select") {
            alert('Please select the priority of the task');
            return; // Stop further execution
        }

        // Check if the estimated date is a previous date from now and throw an error
        const currentDate = new Date().toISOString().slice(0, 10);
        if (completion_dat.value < currentDate) {
            alert('Please select a date that is not in the past.');
            return; // Stop further execution
        }

        const taskname = taskName.value;

        const todoData = {
            tname: taskName.value,
            desc: description.value,
            status: task_status.value,
            priority: task_priority.value,
            completion_date: completion_dat.value,
            // user_id: userId.value // {{ user.id }}
        };

        // Get CSRF token from cookies
        const csrfToken = getCookie('csrftoken');

    //     fetch(`/duplicate_taskname/?tname=${encodeURIComponent(taskname)}`, {
    //     method: 'GET',
    //     headers: {
    //         'Content-Type': 'application/json',
    //         'X-CSRFToken': csrfToken,  // Add the CSRF token to the request header
    //     },
    // })
    // .then(response => response.json())
    // .then(data => {
    //     if (data.exists) {
    //         alert('The taskname already exists!');
    //     } else {
    //         // The title is unique, proceed to add the todo
    //     }
    // })
    // .catch(error => console.error('Error:', error));
    // }

    fetch('/addapi/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken,  // Add the CSRF token to the request header
            },
            body: JSON.stringify(todoData),
        })
            .then(response => response.json())
            .then(data => {
                console.log('success:', data);
                taskName.value = '';
                description.value = '';
                task_status.value = '';
                task_priority.value = '';
                completion_dat.value = '';
                // userId.value = '';
                window.location.href = 'http://127.0.0.1:8000/hometodo/';
                alert('Todo added succesfully')
            })
            .catch(error => console.error('Post Error:', error));
        }

    document.getElementById('form-create').addEventListener('submit', function (event) {
        event.preventDefault();
        addTodo();
    });
</script>
{% endblock %}