{% extends 'todouser/base.html' %}
{% block content %}
<div class="login-container">
    <div>
        <h2 class="login">Login Page</h2>
    </div>

    <div class="forms-login">
        <form id="form-login" method="POST">
            {% csrf_token %}
            
                <!-- <label>Username</label><br>
                <input id="login-username" autocomplete="off" type="text" rows="2" cols="50"><br><br> -->

                <label>E-mail*</label><br>
                <input id="login-email" autocomplete="off" type="email" required minlength="20px" class="task-cls"><br><br>

                <label>Password*</label><br>
                <input id="login-pass" autocomplete="off" type="password" required class="task-cls"><br><br>

            <div class="forms-btn">
                <button id="login-btn" type="submit">Login</button>
            </div>
        </form>
        <div class="forms-sml">
            <p><a class="log-tag" href="{% url 'register' %}">Need An Account? Register</a></p>
        </div>
    </div>
</div>  

<script>
    // Get CSRF token from cookies
    function getCsrftoken() {
        const cookies = document.cookie.split(';');
        for (let i =0; i < cookies.length; i++){
            const cookie = cookies[i].trim();
            if(cookie.startsWith('csrftoken=')){
                return cookie.substring('csrftoken='.length, cookie.length)
            }
        }
        return '';
    }

    // Function to handle login
    function handleLogin(event) {
        event.preventDefault();

        //const Name = document.getElementById('login-username');
        const emailName = document.getElementById('login-email');
        const passwordName = document.getElementById('login-pass');

        const formData = new FormData();
        //formData.append('username', Name.value);
        formData.append('email', emailName.value);
        formData.append('password', passwordName.value);

        // const form = document.getElementById('form-login');
        // const formData = new FormData(form);

        fetch('/loginapi/', {
            method: 'POST',
            headers : {
                'X-CSRFToken' : getCsrftoken() // Add the CSRF token to the request header
            },
            body: formData,
        })
        .then(response => {
            if (response.ok) {
                // Successful login, redirect to home page)
                window.location.href = '/';
            } else {
                return response.json(); 
            }
        })
        .then(data => {
            if (data && data.error) {
                if (data.error === 'Email incorrect.') {
                    alert('Email incorrect. Please enter a valid email address.');
                } else if (data.error === 'Invalid password.') {
                    alert('Invalid password. Please enter a valid password.');
                } else {
                    alert('Login Error: ' + data.error);
                }
            }
        })
        .catch(error => console.error('Error:', error));
    }

    // Add an event listener to the "Login" button
    const loginButton = document.querySelector('button[type="submit"]');
    loginButton.addEventListener('click', handleLogin);
</script>
{% endblock %}