{% extends 'todouser/base.html' %}
{% block content %}

<div class="logout-cls">
    <a href="{% url 'login' %}">Login</a>
    <a href="{% url 'register' %}">Register</a>
</div>

<div>
    <div>
        <h2 class="h2-login">Login Page</h2>
    </div>

    <div class="forms-login">
        <form id="form-login" method="POST">
            {% csrf_token %}
            
                <label>Username</label><br>
                <input id="login-username" autocomplete="off" type="text"><br><br>

                <label>E-mail</label><br>
                <input id="login-email" autocomplete="off" type="email" required ><br><br>

                <label>Password</label><br>
                <input id="login-pass" autocomplete="off" type="password" required ><br><br>

            <div class="forms-btn">
                <button id="login-btn" type="submit">Login</button>
            </div>
        </form>
        <div class="forms-sml">
            <small>Need An Account? <a class="log-tag" href="{% url 'register' %}">Register</a></small>
        </div>
    </div>
</div>

<script>
    function getCsrftoken() {
        const cookies = document.cookie.split(';');
        for (let i =0; i < cookies.length; i++){
            const cookie = cookies[i].trim();
            if(cookie.startsWith('csrftoken=')){
                return cookie.substring('csrftoken='.length, cookie.length)
            }
        }
        return '';
    }

    function handleLogin(event) {
        event.preventDefault();

        const Name = document.getElementById('login-username');
        const emailName = document.getElementById('login-email');
        const passwordName = document.getElementById('login-pass');

        const formData = new FormData();
        formData.append('username', Name.value);
        formData.append('email', emailName.value);
        formData.append('password', passwordName.value);

        // const form = document.getElementById('form-login');
        // const formData = new FormData(form);

        fetch('/loginapi/', {
            method: 'POST',
            headers : {
                'X-CSRFToken' : getCsrftoken()
            },
            body: formData,
        })
        .then(response => {
            if (response.ok) {
                // Successful login, redirect to the home page)
                window.location.href = 'http://127.0.0.1:8000/hometodo/';
            } else {
                return response.json(); 
            }
        })
        .then(data => {
            if (data && data.error) {
                if (data.error === 'Email incorrect.') {
                    alert('Email incorrect. Please enter a valid email address.');
                } else if (data.error === 'Invalid password.') {
                    alert('Invalid password. Please enter a valid password.');
                } else {
                    alert('Login Error: ' + data.error);
                }
            }
        })
        .catch(error => console.error('Error:', error));
    }

    const loginButton = document.querySelector('button[type="submit"]');
    loginButton.addEventListener('click', handleLogin);
</script>
{% endblock %}