{% extends 'todouser/base.html' %}
{% block content %}
<div class="forms-register">
    <form id="register-form" method="POST">
        {% csrf_token %}
        <fieldset class="feild">
            <legend>Register New User</legend>
            <label>Username</label><br>
            <input id="reg-username" autocomplete="off" required placeholder="Enter username"><br><br>
            <label>E-mail</label><br>
            <input id="reg-email" autocomplete="off" required placeholder="Enter email"><br><br>
            <label>Password</label><br>
            <input id="reg-pass" autocomplete="off" type="password" required placeholder="Enter password"><br><br>
            <label>Confirm Password</label><br>
            <input id="reg-cfm-pass" autocomplete="off" type="password" required placeholder="Confirm password"><br><br>
        </fieldset>
        <div class="forms-btnreg">
            <button id="register-btn" type="submit">Register</button>
        </div>
    </form>
    <div class="forms-sml">
        <small>Already Have An Account? <a class="log-tag" href="{% url 'login' %}">Login</a></small>
    </div>
</div>
<script>
    function getCsrftoken() {
        const cookies = document.cookie.split(';');
        for (let i =0; i < cookies.length; i++){
            const cookie = cookies[i].trim();
            if(cookie.startsWith('csrftoken=')){
                return cookie.substring('csrftoken='.length, cookie.length)
            }
        }
        return '';
    }

    function registerTodo(event) {
        event.preventDefault();

        const Name = document.getElementById('reg-username');
        const emailName = document.getElementById('reg-email');
        const passwordName = document.getElementById('reg-pass');
        const confirmPassword = document.getElementById('reg-cfm-pass');

        const regData = new FormData();
        regData.append('username', Name.value);
        regData.append('email', emailName.value);
        regData.append('password', passwordName.value);
        regData.append('password', confirmPassword.value);

       

        fetch('/registerapi/', {
            method: 'POST',
            headers : {
                'X-CSRFToken' : getCsrftoken()
            },
            body: regData,
        })
        .then(response => {
            if (response.ok) {
                // Successful login, redirect to the list page)
                // alert('user registered success!')
                window.location.href = 'http://127.0.0.1:8000/hometodo/';
            } else {
                return response.json(); // Parse the error response
            }
        })
        .then(data => {
            if (data && data.error) {
                if (data.error === 'Email incorrect.') {
                    alert('Email incorrect. Please enter a valid email address.');
                } else if (data.error === 'Invalid password.') {
                    alert('Invalid password. Please enter a valid password.');
                } else {
                    alert('Login Error: ' + data.error);
                }
            }
        })
        .catch(error => console.error('Error:', error));
    }

    document.querySelector('button[type="submit"]').addEventListener('click', registerTodo);
</script>
{% endblock %}