{% extends 'todouser/base.html' %}
{% block content %}
<div class="forms-register">
    <form method="POST">
        {% csrf_token %}
        <fieldset class="feild">
            <legend>Register New User</legend>
            <label>Username</label><br>
            <input id="form-username" required placeholder="Enter username"><br><br>
            <label>E-mail</label><br>
            <input id="form-email" required placeholder="Enter email"><br><br>
            <label>Password</label><br>
            <input id="form-pass" type="password" required placeholder="Enter password"><br><br>
            <label>Confirm Password</label><br>
            <input id="form-pass" type="password" required placeholder="Confirm password"><br><br>
        </fieldset>
        <div class="forms-btnreg">
            <button type="submit">Register</button>
        </div>
    </form>
    <div class="forms-sml">
        <small>Already Have An Account? <a class="log-tag" href="{% url 'login' %}">Login</a></small>
    </div>
</div>
<script>
    function registerTodo() {
        const reg_uname = document.getElementById('reg-username');
        const reg_email = document.getElementById('reg-email');
        const reg_pass = document.getElementById('reg-pass');
        const reg_cfm_pass = document.getElementById('reg-cfm-pass');

        const regData = {
            username: reg_uname.value,
            email: reg_email.value,
            password: reg_pass.value,
        };
        // Get CSRF token from cookies
        const csrfToken = getCookie('csrftoken');

        fetch('/registerapi/', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': csrfToken,
            },
            body: JSON.stringify(regData),
        })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                reg_uname.value = '';
                reg_email.value = '';
                reg_pass.value = '';
                window.location.href = 'http://127.0.0.1:8000/hometodo/';
                alert('New user was created!')
            })
            .catch((error) => {
                console.error('Login error:', error)
            })
    }
    const registerButton = document.getElementById('login-btn');
    registerButton.addEventListener('submit', function (e) {
        e.preventDefault();
        registerTodo();
    });
</script>
{% endblock %}