{% extends 'todouser/base.html' %}
{% block content %}
<div class="form-datas">
    <form id="form-del" method="POST">
        {% csrf_token %}
        <fieldset class="fs-add-todo">
            <legend>Delete Todo</legend>
            <h2>Are you sure want to delete the todo "{{ todolist.tname}}" ?</h2>
        </fieldset>
        <div class="btn-del">
            <button id="btn-del" class="btn-cls" type="submit"><a href="{% url 'todo-list' %}">Yes, Delete</a></button>
            <button id="btn-updt" class="btn-cls"><a href="{% url 'todo-list' %}">Cancel</a></button>
        </div>
    </form>
</div>
<script>
    
</script>
{% endblock %}